body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.container {
    max-width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2, h3 {
    color: #333;
}



form input[type="text"],
form input[type="number"],
form select,
form textarea {
    font-size: 18px;
    width: 98%;
    padding: 8px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;

}

button {
    font-size: 18px;
    width: 50%;
    padding: 8px 16px;
    background-color: #28a745;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}


a {
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 5px;
}

a:hover {
    text-decoration: underline;
}

.button-group1 {
    display: inline-flex;
    gap: 10px;
}

a.redaguoti {
    background-color: #ffc107;
}

a.trinti {
    background-color: #dc3545;
}

.button-group,
.button {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}



th, td {

    padding: 12px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}